<header>
  <span class="title">Lift</span>
  <nav class="round">
    <ul>
      <li><%= "Hello, #{current_user.name}" if signed_in? %></li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", '#' %></li>
      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
